<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{{cdn}}/common.css"/>
</head>
<body>

{{{body}}}

<script src="{{cdn}}/common.js"></script>
</body>
</html>